/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* input {-webkit-appearance:none; -moz-appearance:none; appearance:none; outline: 0;} */
.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.expand {
    display: block;
}

.block {
    display: block;
}

.content {
    color: #707070;
    padding-left: 30px;
    width: 70%;
}

.search input[type="text"] {
    background: #FFF;
    font-weight: 700 !important;
    font-style: italic;
    color: #8E8C8C;
    padding: 4px 13px;
    border: 1px solid #E3E3E3;
    height: 24px;
    border-radius: 30px; /* width: 174px; */
    width: 260px;
}

.header .right {
    width: 240px;
    display: inline-block;
    margin-top: -33px;
}

.header a.submit {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url('../../img/search-ico.png') no-repeat;
    right: 47px;
    position: absolute;
    margin-top: 5px;
}

.menu-toggle-new{
    margin: 0;
    float:left;
}

.menu-toggle-new a.expand-btn {
    display: inline-block;
    float: none;
    cursor: pointer;
    padding: 5px 7px;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 4px;
    color: #1e345d;
    font-size: large;
}

.menu-toggle-new a.expand-btn:hover{
    background-color: #d5d5d5;
}

.override_keyword_highlighting {
    border-bottom: 0px solid !important;
    font-weight: normal !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.warning {
    border: 1px solid #f0ad4e;
    background-color: #f0ad4e;
    margin: 10px 10px 10px 40px;
    padding: 10px 10px 10px 40px;
}

.warning_text {
    margin: 10px 10px 10px 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.warning a {
    font-size: 1em;
    font-weight: bold;
}

.search {
    height: 34px;
    position: relative;
    right: 30px;
}

.result_item {
    color: #333333;
    margin: 10px 10px 10px 10px;
}

.result_item:hover {
    color: #666666;

}

.top_results_box {
    margin-top: 10px;
    background: #eeeeee;
    border: 1px solid #cccccc;
}

.alerts {
    text-align: center;
    position: relative;
    padding-top: 16px;
}

.alerts div {
    width: 85px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.alerts a {
    display: inline-block;
    cursor: pointer;
}

.alerts .num {
    color: #1e345d;
    font-weight: 800;
    position: absolute;
    margin-top: 8px;
    margin-left: 36px;
}

.alerts .alert01 .ico {
    background: url('../../img/alert01_1.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.alerts .alert02 .ico {
    background: url('../../img/alert02_1.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.alerts .alert03 .ico {
    background: url('../../img/alert03_1.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.alerts .alert04 .ico {
    background: url('../../img/alert04_1.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.alerts .alert05 .ico {
    background: url('../../img/alert05_1.png') no-repeat !important;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.alerts .alert06 .ico {
    background: url('../../img/alert06_1.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.error {
    background-color: #ddb09c;
    border: 2px solid #dd4600;
}

/* body - origin */
.middle {
    -moz-box-shadow: inset  0  20px 20px -20px #CCC;
    -webkit-box-shadow: inset  0  20px 20px -20px #CCC;
    box-shadow: inset  0  20px 20px -20px #CCC;
    background: none !important;
    padding-top: 10px;
    padding-left: 5px;
}

.origin {
    background: #FAFAFA;
    padding: 15px 110px;
    line-height: 19px;
    font-size: 12px;
    color: #1e345d;
    font-weight: 700;
    width: 1000px;
    margin: auto;
}

/* body - sidebar */
.sidebar {
    min-width: 357px;
    display: table-cell;
    border-right: 1px solid #DCDCDC;
}

.quote {
    padding: 5px 30px 35px 13px;
    color: #707070;
    font-size: 13px;
    line-height: 19px;
}

.quote p {
    font-weight: 600;
}

.quote .under-blue {
    border-bottom: 4px double #00a0dd;
    font-weight: bold;
}

.quote .under-orange {
    border-bottom: 4px double #f0ad4e;
    font-weight: bold;
}

.quote .under-yellow {
    border-bottom: 4px double #ffcc66;
    font-weight: bold;
}

/* body - content - form */
input[type="radio"]:checked {
    outline: none;
}

input[type="radio"] {
    height: 15px;
    width: 15px;
    margin: 0px 6px 0px 0;
    outline: none;
}

input[type="checkbox"]:checked {
    outline: none;
}

input[type="checkbox"] {
    height: 17px;
    width: 15px;
    margin: 0 4px -3px 0;
    outline: none;
}

/******************* Forms Aligning ********************/
.form-line {
    display: block;
    outline: none;
}

.form-line tbody tr td {
    vertical-align: top;
    line-height: normal;
}
/*******************************************************/

[id^="theform"] {
    margin-bottom: 50px;
}

.for-select {
    height: 35px;
    background: #E4E4E4;
    border-radius: 10px;
    color: #303030;
    padding: 0 13px;
    font-size: 12px;
    border: 1px solid #a5a5a5;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #D6D6D6), color-stop(0.53, #E4E4E4));
    background-image: -o-linear-gradient(top, #D6D6D6 51%, #E4E4E4 53%);
    background-image: -moz-linear-gradient(top, #D6D6D6 51%, #E4E4E4 53%);
    background-image: -webkit-linear-gradient(bottom, #D6D6D6 51%, #E4E4E4 53%);
    background-image: -ms-linear-gradient(top, #D6D6D6 51%, #E4E4E4 53%);
}

[id^="theform"] a {
    color: #00a0dd;
    text-decoration: none;
    font-weight: 800;
    margin-left: 4px;
}

[id^="theform"] a:hover {
    text-decoration: none;
}

.form-spc {
    display: block;
    height: 10px;
}

[id^="theform"] textarea.comments {
    font-weight: 600;
    padding: 5px 10px;
    font-size: 12px;
    outline: none;
}

.middle{
    padding-bottom: 50px;
}

.hidden {
    display: none;
}

.user_table {
    border-collapse: separate;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    vertical-align: top;
    text-align: left;
}

.question {
    vertical-align: top;
}

.question p {
    line-height: normal;
}

.answer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.answer_separate {
    margin-top: 0px;
    margin-bottom: 0px;
}

.inline {
    display: inline;
}

.inlinequestion p {
    display: inline;
}

.answer_td {
    padding: 2px 2px 8px 2px;
    border-width: 0px;
}

.label_margin {
    margin-right: 6px;
    margin-bottom: 3px;
    vertical-align: top;
}

.question ul, ol {
    margin-left: 20px;
}

.question ol {
    list-style: decimal !important;
}

.question ol li {
    display: list-item;
}

.question li {
    font-size: 12px;
    line-height:12px;
    margin: 5px;
}

.nav_levels {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 5px;
}

.nav_forms {
    font-weight: bold;
    padding-top: 5px;
}

.nav_users {
    padding-top: 5px;
}

.nav_responseset {
    padding-top: 5px;
}

.nav_hover {
    background-color: #8ACCFA;
    cursor: pointer;
}

/* Style */
.click-button, .disabled-button { /* V2DIS-17 */
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    padding: 0 13px;
    font-size: 12px;
    cursor: pointer;
}

.click-button-small { /* V2DIS-17 */
    height: 23px;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    padding: 0 9px;
    font-size: 11px;
    cursor: pointer;
}

.click-button-small { /* V2DIS-17 */
    height: 23px;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    padding: 0 9px;
    font-size: 11px;
    cursor: pointer;
}

.click-button, .click-button-small { /* V2DIS-17 */
    cursor: pointer;
}

.disabled-button { /* V2DIS-17 */
    cursor: not-allowed;
}

.click-button-link {
    height: 35px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    padding: 10px 13px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.click-button-link-small {
    min-height: 23px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    padding: 5px 9px;
    font-size: 11px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.click-button-link:link, .click-button-link:hover, .click-button-link:visited, .click-button-link:active {
    color: #FFF;
}

.click-button-link-small:link, .click-button-link-small:hover, .click-button-link-small:visited, .click-button-link-small:active {
    color: #FFF;
}

.click-button-not-fixed {
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    padding: 0 13px;
    font-size: 12px;
    cursor: pointer;
}

.blue-button {
    background: #275C92;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #275C92), color-stop(0.55, #4879ab));
    background-image: -o-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -moz-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -webkit-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -ms-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: linear-gradient(to top, #275C92 51%, #4879ab 55%);
    border: 1px solid #275C92;
}

.green-button {
    background: #008000;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #62BA33), color-stop(0.55, #6ACF34));
    background-image: -o-linear-gradient(top, #62BA33 51%, #6ACF34 55%);
    background-image: -moz-linear-gradient(top, #62BA33 51%, #6ACF34 55%);
    background-image: -webkit-linear-gradient(top, #62BA33 51%, #6ACF34 55%);
    background-image: -ms-linear-gradient(top, #62BA33 51%, #6ACF34 55%);
    background-image: linear-gradient(to top, #62BA33 51%, #6ACF34 55%);
    border: 1px solid #62B435;
}

.grey-button {
    background: #008000;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #b5afaf), color-stop(0.55, #c3bdbd));
    background-image: -o-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -moz-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -webkit-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -ms-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: linear-gradient(to top, #9f9999 51%, #b5afaf 55%);
    border: 1px solid #9f9999;
}

.grey-button:hover, .white-button:hover {
    background: #275C92;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #275C92), color-stop(0.55, #4879ab));
    background-image: -o-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -moz-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -webkit-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: -ms-linear-gradient(top, #275C92 51%, #4879ab 55%);
    background-image: linear-gradient(to top, #275C92 51%, #4879ab 55%);
    border: 1px solid #275C92;
    color: #ffffff !important;
}

.light-grey-button {
    background: #008000;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #ede8e8), color-stop(0.55, #ccc9c9));
    background-image: -o-linear-gradient(top, #ccc9c9 51%, #ede8e8 55%);
    background-image: -moz-linear-gradient(top, #ccc9c9 51%, #ede8e8 55%);
    background-image: -webkit-linear-gradient(top, #ccc9c9 51%, #ede8e8 55%);
    background-image: -ms-linear-gradient(top, #ccc9c9 51%, #ede8e8 55%);
    background-image: linear-gradient(to top, #ccc9c9 51%, #ede8e8 55%);
    border: 1px solid #ccc9c9;
}

.light-grey-button:hover {
    background: #008000;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #b5afaf), color-stop(0.55, #c3bdbd));
    background-image: -o-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -moz-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -webkit-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -ms-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: linear-gradient(to top, #9f9999 51%, #b5afaf 55%);
    border: 1px solid #9f9999;
}

.green-button:hover, .blue-button:hover, .red-button:hover {
    background: #008000;
    background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.51, #b5afaf), color-stop(0.55, #c3bdbd));
    background-image: -o-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -moz-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -webkit-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: -ms-linear-gradient(top, #9f9999 51%, #b5afaf 55%);
    background-image: linear-gradient(to top, #9f9999 51%, #b5afaf 55%);
    border: 1px solid #9f9999;
}

.table-form td {
    padding: 7px 10px 20px 10px;
    line-height: 20px;
}

.table-form .table-form-label {
    border-right: 2px solid #00a0df;
    vertical-align: top;
    text-align: right;
}

.table-form .table-form-label-required {
    border-right: 1px solid #CCCCCC;
    vertical-align: top;
    font-weight: bold;
    color: #1e345d;
}

.table-form label {
    font-size: 14px;
    /* margin-top: 10px;
    display: block; */
}

.table-form .small-text, .table-form .password, .table-form .large-text, .table-form .medium-text, .table-form .unconstrained-text, .table-form select {
    height: 34px;
}

.table-form .large-textarea {
    height: 250px;
}

.table-form .small-text, .table-form .password, .table-form .large-text, .table-form .medium-text, .table-form .unconstrained-text, .table-form select, .table-form .large-textarea {
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 4px 10px;
    color: inherit;
}

.table-form .form-required {
    border: 1px solid #1e345d;
}

.table-form .small-text {
    width: 100px;
}

.table-form .medium-text, .table-form .password {
    width: 250px;
}

.table-form .large-text, .table-form .large-textarea {
    width: 500px;
}

.table-form select {

}

.table-data {
    /* Nothing for now */
}

.table-data th {
    font-size: 14px;
    text-align: left;
    color: #1e345d;
    font-weight: bold;
}

.table-data td {
    font-size: 12.5px;
}

.table-data th, .table-data td {
    padding: 7px;
    border: 1px #CCCCCC solid;
}

.table-data tr:nth-child(odd) {
    background: #ffffff;
}

.table-data tr:nth-child(even) {
    background: #eceaea;
}

.table-data .table-row-hover:hover {
    background: #1e345d;
    color: white;
}

.form-instructions {
    border: 1px #1e345d solid;
    border-radius: 5px;
    padding: 10px 7px 10px 7px;
    margin-bottom: 10px;
    background-color: #1e345d;
    font-weight: bold;
    color: white;
}

.form-instructions ul {
    margin-left: 25px;
    font-weight: normal;
    list-style: circle;
}

.form-instructions span {
    font-weight: normal;
}

.form-success {
    padding: 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(241, 241, 241, 0.2);
    border-radius: 4px;
    margin: 10px 0;
    display: none;
    color: #225534;
    background-color: rgba(80, 211, 133, 0.35);
}

.form-error {
    padding: 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(241, 241, 241, 0.2);
    border-radius: 4px;
    margin: 10px 0;
    display: none;
    color: #65232f;
    background-color: rgba(237, 85, 101, 0.35);
}

.form-error ul {
    margin-left: 25px;
    font-weight: normal;
    list-style: circle;
}

.form-error span {
    font-weight: normal;
}

.form-sections {
    border: 1px #D6D6D6 solid;
    border-radius: 5px;
    padding: 10px 7px 10px 7px;
    margin-bottom: 10px;
    background-color: #E4E4E4;
    font-weight: bold;
    /* color: white; */
}

.form-helper-text-container {
    position: relative;
    width: 100%;
}

.form-helper-text-container-top {
    position: absolute;
    top: 7px;
}

.form-helper-text {
    font-size: 11px;
    font-weight: bold;
    background-color: #E4E4E4;
    border: 1px #D6D6D6 solid;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 0;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-helper-text-arrow {
    background: #E4E4E4;
    border: 1px solid #D6D6D6;
    border-width: 0px 0px 1px 1px;
    position: absolute;
    left: -17px;
    top: 50%;
    margin-top: -16px;
    width: 10px;
    height: 10px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 0;
}

.inline-tooltip-wrapper {
    margin: 0;
    padding: 0;
}
.inline-tooltip-wrapper input {
    display: inline-block;
    width: calc(100% - 40px);
}
.inline-tooltip-wrapper .form-helper-tooltip {
    display: inline-block;
}

.form-helper-tooltip {
    background: #1e345d;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
    cursor: help !important;
}

.form-helper-tooltip >.glyphicon {
    color: #1e345d;
}

a.form-helper-tooltip {
    width: auto;
}

/*ajax loader*/
#spinner.show {
    display: block;
    position: fixed;
    z-index: 1000;
    opacity: 0.4;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #fff url("../../img/rolling.gif") no-repeat center;
}

/* DE tab not submitted*/
.alert-warning-de {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(244, 205, 178);
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 3px #8A8A8D;
    -moz-box-shadow: 0 0 3px #8A8A8D;
    box-shadow: 0 0 3px #8A8A8D;
}

/* unsaved tab*/
.unsaved_tab {
    box-shadow: 0 4px 2px -2px #DD4600 inset;
}

#unsubmitted {
    z-index: 1500; /* display on top of modal window */
    display: none;
}

#block_safari_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: .75;
    z-index: 999998;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
    z-index: 999999;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    font-size: 24px;
    border-radius: 25px;
}

table.subform {
    width: 100% !important;
}

table.subform tbody tr.selected, .table-striped tbody tr.selected:nth-child(odd) td {
    color: white;
    background-color: #1e345d !important;
}

table.dataTable tbody tr.selected  td.select-checkbox:before,
table.dataTable tbody tr.selected th.select-checkbox:before {
    border: 1px solid white;
}

div.DTE_Inline div.DTE_Inline_Field div.DTE_Field input, div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field input{
    vertical-align: sub;
    margin-right: 3px !important;
}

table.subform.dataTable tbody tr.selected a,
table.subform.dataTable tbody th.selected a,
table.subform.dataTable tbody td.selected a {
    color: #00a0dd;
}

.answer > .dt-bootstrap > .dt-buttons.btn-group {
    display: block;
    padding-bottom: 3px;
}

.select-checkbox {
    height: 30px;
}

.question_div pre {
    white-space: pre-wrap;
}

input.hasDatepicker, .otherbox{
    height: 31px;
}

/* DSR-232. Sticky buttons line for the Forms */
.form_action_buttons.bottomline {
    display: none;
}
.form_action_buttons.fixed-block,
.form_action_buttons.sticky-block {
    position: sticky;
    top: 35px;
    z-index: 100;
    
    margin: 0 -15px 0 -30px;
    padding: 15px 15px 15px 30px;
    
    background-color: #fff;
    border-bottom: 1px solid #8A8A8D;
}
.form_action_buttons.topline_sub.sticky-block {
    margin: 0 -15px;
    padding: 15px;
    top: 15px;
}
.form_action_buttons.fixed-block.lessmargin,
.form_action_buttons.sticky-block.lessmargin {
    top: 0;
}

.form_action_buttons.fixed-block.auditusers,
.form_action_buttons.sticky-block.auditusers {
    top: 68px;
}

.form_action_buttons.fixed-block.audit-unsubmitted,
.form_action_buttons.sticky-block.audit-unsubmitted {
    top: 106px !important;
}

.form_action_buttons.fixed-block {
    position: fixed;
    width: 100%;
}

#audit_for_user_msg.fixed-block {
    position: fixed;
    z-index: 101;
    display: block;
    top: 0;
    left: 0;
    right: 0;
}

#warning_messages_div {
    background-color: white;
}

#warning_messages_div.fixed-block {
    position: fixed;
    z-index: 101;
    display: block;
    top: 0;
    left: 0;
    right: 0;
}

#audit_for_user_msg {
    color: #333;
    margin-bottom: 3px;
}

#audit_for_user_msg table tr {
    margin-left: 50px;
}

#audit_for_user_msg table tr td#audit_alert_img img {
    margin: 0 20px;
}

#audit_alert_second_line {
    text-align: left;
    line-height: 1.5;
    padding-bottom: 5px;
}

#curatorAjaxSpinner {
    content: url("../../img/rolling.gif");
    height: 64px;
    display: block;
    position: fixed;
    opacity: 0.4;
    right: 10px; top: 40%;
    z-index: 102;
    padding: 8px;
}

.right-middle {
    position: fixed;
    right: 10px; top: 40%;
    z-index: 101;
}
.curator-link {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    content: url("/images/CR_Dark.png");
    height: 64px;
    padding: 8px;
    cursor: pointer;
}
.curator-link:hover {
    filter: brightness(0.85);
}
.curator-link-list {
    margin-left: -300px;
    margin-top: 10px;
}

.curator-link-list a:nth-child(odd) {
    background-color: #f9f9f9;
}
.curator-link-list a:nth-child(even) {
    background-color: #fff;
}
.curator-link-list a:last-child {
    border-radius: 0px 0px 4px 4px;
}
.curator-link-item {
    text-decoration: none;
    display: flex;
    padding: 5px 5px 5px 10px;
}
.curator-link-item:hover {
    text-decoration: none;
    filter: brightness(0.95);
}
.curator-link-item:hover i{
    display: block;
}
.curator-link-item > div {
    width: 290px;
    overflow-wrap: break-word;
}
.curator-link-item i{
    display: none;
    width: 15px;
    margin-left: 10px;
    align-self: center;
    text-align: center;
}

textarea.vertical-resize {
    resize: vertical;
}
