table.standardtable {
    border-width: 0;
    border-spacing: 0;
    border-style: outset;
    border-color: gray;
    border-collapse: collapse;
}

table.standardtable th {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: gray;
    -moz-border-radius: 0;
    vertical-align: top;
}

table.standardtable th h2 {
    font-size: 16px;
}

table.standardtable td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    -moz-border-radius: 0;
    vertical-align: top;
}

table.nobordertable td {
    border-style: none;
}

.warning {
    border: 1px solid #C3C53E;
    background-color: #FDFF82;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.warning_text {
    margin: 10px 10px 10px 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.warning a {
    font-size: 1em;
    font-weight: bold;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.error {
    border: 1px solid #FF0000;
    height: auto;
    width: 300px;
    padding: 4px;
    background: #FFEEEE;
    text-align: left;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}

.error h3 {
    font-size: 200%;
    margin-bottom: 10px;
    white-space: nowrap;
}

.vtop {
    vertical-align: top;
    padding: 5px;
}

.SavingImage {
    border: 1px solid #3C3;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 1000;
    margin: 5px;
    padding: 5px;
}

.article_pager {
    word-spacing: 5px
}

.article_pager a {
    font-size: 1.1em;
    word-spacing: 5px
}

.article_pager .current_page {
    font-weight: bold;
    font-size: 1.2em;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
    cursor: wait;
}

/* Container */
#simplemodal-container {
    height: 400px;
    width: 600px;
    background-color: #fff;
    border: 3px solid #ccc;
}

#simplemodal-container #basicModalContent {
    padding: 8px;
}

#simplemodal-container a.modalCloseX,
#simplemodal-container a.modalCloseX:link,
#simplemodal-container a.modalCloseX:active,
#simplemodal-container a.modalCloseX:visited {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: -4px;
    right: 6px;
    color: #999;
}

#simplemodal-container a.modalCloseX:hover {
    color: #9bb3b3;
}

.userinfo {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-collapse: separate;
    background-color: rgb(255, 245, 238);
    padding: 5px;
    margin-top: 5px;
    margin-right: 0px;
    line-height: 1.4;
    float: right;
}

.brandimg {
    float: left;
}

.hidden {
    display: none;
}

.user_table {
    border-collapse: separate;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    vertical-align: top;
    text-align: left;
}

.question {
    vertical-align: top;
}

.question p {
    line-height: normal;
}

.answer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.answer_separate {
    margin-top: 0px;
    margin-bottom: 0px;
}

.answer.inline {
    margin-left: 0;
}

.inline {
    display: inline;
    padding-left: 10px;
}

.inline-block {
    display: inline-block;
    padding-left: 10px;
}

.inlinequestion p {
    display: inline;
}

.levelbox {
    border: 2px solid #1e345d;
    width: 100%;
    padding: 5px;
    min-height: 40px;
    height: auto;
    background-color: #FFFFFF;
}

.levelbox:hover {
    cursor: pointer;
}

.formbox {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: move;

}

.selectedbox {
    border: 2px dashed #FF0000;
    background-color: #AACCFF;

}

.droppable-active {
    background-color: #8ACCFA;
}

.droppable-hover {
    background-color: #3592D5;
}

.articlebox {
    border: 1px solid #8888aa;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}

#review_article_heading .articlebox {
    margin: 0;
    padding: 0;
    width: 100%;
}

.articleboxhover {
    background-color: #EAEAEA;
    cursor: pointer;
}

.articlebox h2 {
    font-size: 14px;
    font-weight: bold;
}

.report_item {

}

.report_item_hover {

}

.articlebox span {
    line-height: 1.4;
}

.articlebox .refid {
    font-weight: bold;
}

.articlebox .title {
    font-weight: bold;
}

.articlebox .author {
    display: block;
}

.tableheader {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 5px;
    text-align: center;
}

.lfqa_metadata_popup .modal-body {
    font-family: 'Palanquin', 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.lfqa_metadata_popup .input-sm {
    height: 30px;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 3px;
}

.lfqa_metadata_popup select {
    margin: 2px 0 5px 0;
}

.lfqa_metadata_popup .modal-title {
    font-size: 16px;
    padding-bottom: 10px;
}

[id$="query_error"] {
    color: #a94442;
    padding: 5px 0;
}

[id$="query_error"]:empty {
    padding: 0;
}

[id$="div_data_filter"] {
    padding: 0;
    margin-bottom: 5px;
}

[id$="div_data_filter"]:empty {
    margin-bottom: 0;
}

[id$="div_data_filter"] p {
    padding: 5px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding: 5px;
}

.repeatable_link {
    display: block;
    line-height: 1.2em;
    padding: 5px;
}

.repeatable_link a {
    color: #1e345d;
    text-decoration: none;
}

.repeatable_td {
    text-align: center;
    padding: 2px;
    width: 200px;
}

.repeatable_td_hover {
    background-color: #EEEEEE;
}

.kappa {
    font-weight: bold;
    white-space: nowrap;
}

.kappa.bad {
    background-color: #DA4453;
}

.kappa.fair {
    background-color: #E3813F;
}

.kappa.moderate {
    background-color: #FFCE54;
}

.kappa.substantial {
    background-color: #00A0DF;
}

.kappa.perfect {
    background-color: #50D385;
}

.cursor_pointer {
    cursor: pointer;
}

.mb_message {
    display: block;
    margin-bottom: 5px;
}

.mb_username {
    font-weight: bold;
}

.mb_date {
}

a.new_msgs_system {
    color: #FF0000;
    font-weight: bold;
}

a.new_msgs_project {
    color: #0000FF;
    font-weight: bold;
}

.nav_box_header {
    color: #147DC8;
    font-weight: bold;
}

.nav_box {

}

.nav_box td {
    padding-right: 10px;
    white-space: nowrap;
    padding-bottom: 5px;
}

.work_to_do {
    font-size: 1.2em;
    display: block;
    line-height: 1.3;
}

.work_to_do a {
    font-size: 1.3em;
    font-weight: bold;
}

.work_to_do a:hover {
    text-decoration: underline;
    color: blue;
}

.import_proj_name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quorum_label {
    font-style: italic;
    color: #000077;
}

.edit_form_background {
    /*background-color: #DDDDFF;*/
}

.padded_cells td {
    padding: 5px 5px 5px 5px;
    vertical-align: top;
}

.bad_filter {
    border: 1px solid #dc9d9d;
    background-color: #fbe7e7;
    border-radius: 3px;
}

.disabled_filter {
    border: 1px solid #B8B8BB !important;
    background-color: #F4F4F7 !important;
    color: #8A8A8D !important;
    pointer-events: none;
}

.text-disabled, .text-disabled:hover {
    color: #8A8A8D;
    cursor: default;
}

.good_filter {
    border: 1px solid #97ca97;
    background-color: #efe;
    border-radius: 3px;
}

.good_filter:empty, .bad_filter:empty {
    border: none;
    background: none;
}

.row1 {
    background-color: #FFFFFF;
}

.row2 {
    background-color: #EEEEEE;
}

.indented {
    margin-left: 10px;
    margin-top: 3px;
    border-left: 2px solid #00a0dd;
    padding-left: 5px;
}

.successbox, .warningbox, .errormsgbox {
    padding: 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(241, 241, 241, 0.2);
    border-radius: 4px;
    background-repeat: no-repeat;
    display: none;
}

.successbox {
    color: #225534;
    background-color: rgba(80, 211, 133, 0.35);
}

.warningbox {
    color: #FFE222;
    background-color: #FAF9C9;
    background-image: url('../../images/warning.png');
}

.errormsgbox {
    color: #D8000C;
    background-color: #FDD5CE;
    background-image: url('../../images/error.png');
}

.indented_options {
    margin-left: 10px;
}

.save_button {
    background-color: #FFFF00;
}

.input_textarea {
    min-height: 20px;
}

.indent_list {
    padding-left: 10px;
}

/* Time Table */

h1 :not (.form-line) {
    font-size: 17px;
    margin-bottom: 10px;
}

h2 :not (.form-line) {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.table-data td ul, ol {
    margin-left: 15px;
}

.delete i {
    color: #d9534f !important;
    font-size: 14px;
}

.filter_label {
    padding-top: 0px;
    width: 19px;
    height: 19px;
    font-size: 13px;
}

div[class$="filterDiv"] table td {
    border: none;
    padding: 0 !important;
    font-size: 14px;
}

div[class$="filterDiv"] table tr {
    background: none !important;
}

.disabledFeature {
    background-color: #efefef;
}

.disabledFeature .disabledFeatureIcon {
    float: right;
    border: unset;
    background: transparent;
    color: unset;
}

.disabledFeature .panel-body {
    overflow: visible;
    pointer-events: none;
    background-color: #efefef;
    opacity: 0.8;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

/* Fix wbr compatibility issue with IE */
wbr:after {
    content: "\00200B";
}

.wordbreak, .wordbreak input {
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* RT-349 and RT-376*/
.lfqa_metadata_popup {
    z-index: 1050;
}

div.confirmDelete p.msg {
    padding: 5px !important;
}

div.confirmDelete nav {
    text-align: center !important;
    margin-top: 15px;
}

div.confirmDelete nav button {
    width: 75px;
    font-size: 16px;
}

.warningTitle {
    text-align: center;
    font-weight: bold;
    margin: -10px 0 10px 0;
    font-size: 18px;
    color: #DD4600;
    padding: 2px;
    background: #faebd7;
}

.warningMessage {
    text-align: center;
    font-weight: normal;
}

.defaultTitle {
    text-align: center;
    font-weight: bold;
    margin: -48px -12px 12px -12px;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background: #1e345d;
}

.defaultMessage {
    text-align: center;
    font-weight: normal;
}

.fa-dsr-tooltip {
    font-size: 23px;
    color: #1E345D;
    background: none !important;
}

.fa-dsr-tooltip-warning {
    color: #E3813F !important;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.btn-new {
    background-color: #00a0df;
    margin-left: 5px;
    padding: 1px 6px;
    line-height: 18px;
    vertical-align: top!important;
    pointer-events: none;
}