/**
Add CSS to override other styles globally
 */

.alertify-logs{
    background:none;
    border:none;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active{
    background:#fff;
    border:1px solid #c5c5c5;
    border-bottom:none;
    color:#454545;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a{
    color:#454545;
}
.ui-tabs-anchor:focus{
    outline:none;
}
a#icp_bordercolor img{
    width:16px;
    height:16px;
    vertical-align:middle;
}
.sf-menu {
    width: 1030px;
}
.dataTables_paginate{
    width:100%;
}
.table-data{
    margin-bottom: 10px !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1e345d !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0;
    color: #fff !important;
    cursor: default;
    background-color: #1e345d !important;
    border-color: #1e345d !important;
}

.dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark{
    background:none ;
}
.dz-success-mark svg{
    background:#0ACC60 !important;
    border-radius:100px;
}
.dz-error-mark svg{
    background:#DD4600 !important;
    border-radius:100px;
}